spring:
  application:
    name: backend
  datasource:
    url: jdbc:postgresql://localhost:5432/subscription_platform
    username: sub_user
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never

  jwt:
    secret: MCvd6MXYdF8kt0yTbSV/OTF6uftq2OQB/m9ZJpzJ6Y0=
    expiration: 86400000

  paystack:
    secret-key: sk_test_08bd1137b887f9a48d110fbd4da8942d41ad0e0f
    callback-url: http://localhost:8080/paystack/webhook
