spring:
  application:
    name: backend
  datasource:
    url: jdbc:postgresql://localhost:5432/subscription_platform
    username: sub_user
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never
